.product-block[data-product-id="6777758548025"] .image-cont .btn.quickbuy-toggle {
  display: none !important;
}
@media only screen and (max-width: 1024px) {
	#section-id-template--15011635429433__16359279164ff7d3f3 .gallery__row{
		display: flex;
		flex-wrap: wrap;
	}
	#section-id-template--15011635429433__16359279164ff7d3f3 .gallery__item{
/* 		width: 50%; */
	    margin: 0 !important;
	    flex: auto;
	}
/* 	#section-id-template--15011635429433__16359279164ff7d3f3 .gallery--with-margins{
		padding:0px;
	} */
	.menu-promotion-image{
        display:block !important;
    }
  .menu-promotion-image img{
       margin-right: 20px;
    height: 92px;
           width: 92px;
    object-fit: contain;
    
    }

  .navigation .navigation__tier-2-container {
  
   opacity:1;
    visibility: visible;
  }
  .mobile-navigation-drawer .navigation__link {
    padding: 12px 20px !important;
}
  .navigation .navigation__columns {
    display:block;
  
  }
  .navigation .navigation__tier-2 .navigation__link {
  
    line-height: 1.5em;
  }
  
/*  .navigation .navigation__wide-promotion .column--order-push-desktop .rimage-outer-wrapper {
    
    display: none;
} */
  .navigation__tier-2 .desktop-only, .navigation__tier-2-container .desktop-only{
  	display:none
  }
  .navigation__tier-2 .desktop-only ~ div, .navigation__tier-2-container .desktop-only ~ div{
  	
    opacity: 1;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

  }
}
.header-only-mobile img{
	width: 60px;
  	height: 60px;
  	object-fit: cover;
  	object-position: top;
  	display:none
}
.navigation__tier-1 .navigation__item.featured-link:first-child {
	flex-wrap: nowrap;
    justify-content: space-between;
   
}
@media only screen and (max-width: 1024px) {
  
  .navigation__tier-1 .navigation__item.featured-link:first-child {
	
     padding-top: 22px;
    padding-right: 0;
}
  .desktop-only .navigation--main {
  
  display:none;
} 

   .logo-area .button.mobile-nav-toggle {
    display: inline-block;
  }

.logo-area.container {
    padding-left: 0;
    padding-right: 0;
}
  .mobile-navigation-drawer .navigation{
    border-bottom:none;
  
  }
   .gallery.gallery--grid-4.gallery--with-margins .gallery__row{
    display: grid !important;
    grid-template-columns: auto auto;
    gap: 20px;
}
  .gallery--with-margins .gallery__item:not(:first-child), .gallery--with-margins .gallery__row:not(:first-child){
    margin-top:0;
  
  }
  .fully-spaced-row--medium .container>.gallery--with-margins{
    margin-left:0;
  }
  
  .gallery--with-margins .gallery__item{
    margin:0;
  }
  .reveal-mobile-nav .mobile-navigation-drawer {
    transform: translate(0);
}
  .enable-mobile-nav-transition .mobile-navigation-drawer {
    transition: transform .5s cubic-bezier(.55,.03,.37,.96);
}
  .mobile-navigation-drawer {
    display: block;
}
  .reveal-mobile-nav .page-shade, .reveal-mobile-nav .header-shade {
    height: 100%;
    opacity: 1;
    pointer-events: auto;
}
  .page-shade, .header-shade {
    z-index: 7000;
}
    .navigation__tier-1-container .mobile-only {
    display: flex !important;
  }
  .container container--no-max .mobile-only  .navigation .navigation__tier-1>.navigation__item {
    display: inline-flex;
}
 
.desktop-only .social-links .social-links__list {
    display: none;
} 

.navigation__tier-1 .navigation__item.featured-link {
  
    display: flex;
}
  .mobile-navigation-drawer .navigation__tier-1>.navigation__item {
   
    display: flex;
}
  .navigation .navigation__tier-1>.navigation__item>.navigation__link {
    display: inline-block;
    padding: 12px 20px;
  }
  .navigation .navigation__children-toggle {
    display: block;
}
  .menu-promotion-image {
    display: block !important;
 
}
 .menu-promotion-image img {
       width: 76px;
    height: 93px;
    object-fit: contain;
       margin-right: 10px;
  
  
  }
  
.section-footer__payment-icons .section-footer__payment-icon{

 margin:0;
}
 

  
}
.datacollapsable{
	display:none;
}
.collapsible:before{
position: absolute;
top: 0px;
right: -30px;
font-size: 25px;
color: #000;
font-family: FontAwesome;
height: 28px;
cursor: pointer;
bottom: 0;
margin: auto;
}
.active.collapsible:before{
	transform: rotate(-180deg);
    
   
}
.collapsible{
	position: relative;
   display:inline-block;
}

   
.gallery.gallery--grid-4.gallery--with-margins {
  padding-bottom:0 !important;
}

li.navigation__item.navigation__column{

 display: grid !important;
 grid-template-columns: 1fr 1fr !important;
  gap:10px;
  
}
.product-on-page .product-block{
	opacity:1;
}
.variant-status--unavailable .shopify-payment-button{
	pointer-events: none;
}
@media (min-width:768px) and (max-width:900px) {
#section-id-template--15011635429433__1652862779afda793d .gallery__item {
    height: 540px !important;
}
  #shopify-section-template--15011635429433__1652862779afda793d .slick-track{
  	width:2000px;
  }
  #shopify-section-template--15011635429433__1652862779afda793d .gallery__item{
    width:200px;
  }
}
@media (min-width:768px) {
#section-id-template--15011635429433__1652862779afda793d .gallery__item {
    height: 540px !important;
}
}
/* @media only screen and (max-width: 1024px) {

.desktop-only .navigation--main {
  
  display:none;
} 

   .logo-area .button.mobile-nav-toggle {
    display: inline-block;
  }

.logo-area.container {
    padding-left: 0;
    padding-right: 0;
}

} */
.navigation__tier-1 .navigation__item.featured-link:first-child{
  padding-right:0 !important;

}
.navigation .navigation__columns{

      align-items: start !important;

}
 .section-footer__row__col .section-footer__payment-icons{
      display: flex;
    gap: 6px;
    align-items: center;
    
  }
.section-footer__payment-icons img{
height: 40px !important;
object-fit: contain !important;
width:auto !important;
}

.section-footer__payment-icons .section-footer__payment-icon{
margin:0 !important;
}

.mobile-navigation-drawer .navigation__tier-1>.navigation__item--open>.navigation__tier-2-container {
    -webkit-transform: translateZ(0) !important;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0) !important;
}
@media (max-width: 1000px) {
	body .logo-area__right__inner{
		padding-right: 12px !important;
	}
	.wishlist-icon .fa-heart{
		margin-left: 5px !important;
	}
}